* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.header {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
}

.top-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.top-navbar li {
    float: left;
    border-radius: 5px;
}

.top-navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.top-navbar a:hover {
    background-color: #333;
}

.top-navbar .active {
    background-color: #555;
}

.side-title {
    background-color: black;
    color: white;
    padding: 8px 16px;
}

.side-navbar {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #e2e2e2;
}

.side-navbar a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.side-navbar a:hover {
    background-color: #333;
    color: white;
}

.leftcolumn {
    float: left;
    height: auto;
    width: 25%;
    background-color: #aaa8a8;
}

.rightcolumn {
    float: left;
    height: auto;
    width: 75%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
    width: 250px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: auto;
    height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.title {
    padding: 15px;
    text-align: center;
}

.footer {
    background-color: darkslategray;
    text-align: center;
    padding: 10px
}

